<template>
  <div class="row">
    <div
      class="input-field"
      :class="[wrapperStyle.selectClass]"
      :style="[wrapperStyle.selectStyle]"
    >
      <i class="material-icons prefix" v-if="icon">{{ icon }}</i>

      <select
        :class="[fieldStyle.selectClass]"
        :style="[fieldStyle.selectStyle]"
        :id="name.toLowerCase()"
        @change="updateValue(null,null)"
        v-model="fieldValue"
      >
        <option
          :value="option.value"
          v-for="(option,index) in options"
          :key="index"
          :disabled="option.value === null"
        >{{ option.text}}</option>
      </select>

      <label :for="name.toLowerCase()" v-if="showSelectLabel">{{labels.select}}</label>
      <span class="helper-text" :data-error="error" data-success="Correct">{{ helperText }}</span>
    </div>

    <component
      v-for="(field , key) in followUpFields"
      :key="key"
      :is="field.component"
      :name="key"
      v-bind="{...field}"
      :isDisabled="fieldValue !== condition"
      :hasError="$v.subForm[key].$error"
      :value="value[condition] ? value[condition][key] : null"
      :error="errorMessages[key]"
      @update="update(key,$event)"
    />
    <!-- <div>test run</div> -->
  </div>
</template>

<script>
import M from "materialize-css";
import { validationRules } from "../ValidationParser.js";
export default {
  name: "ConditionalSelectField",
  props: {
    value: {
      type: [Object],
    },
    name: {
      type: String,
      required: true,
    },
    labels: {
      type: Object,
      required: true,
    },
    fieldType: {
      type: String,
      required: false,
    },
    showSelectLabel: {
      type: Boolean,
      default: true,
      required: false,
    },
    showInputLabel: {
      type: Boolean,
      default: true,
      required: false,
    },
    condition: {
      type: String,
      required: true,
    },
    options: {
      type: Array,
      required: true,
    },
    placeholder: {
      type: String,
      required: false,
      default: "",
    },
    helperText: {
      type: String,
      required: false,
      default: "",
    },
    icon: {
      type: String,
      required: false,
    },
    wrapperStyle: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    fieldStyle: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    error: {
      type: String,
      required: false,
    },
    hasError: {
      type: Boolean,
      default: false,
    },
    followUpFields: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      selectInstances: null,
      isTyping: false,
      fieldValue: {},
      initialLoad: true,
      subForm: {},
    };
  },

  created() {},
  mounted() {
    this.setDefaultValue();

    setTimeout(() => {
      this.$_initFormFields();
    });
  },
  beforeDestroy() {
    this.selectInstances ? this.selectInstances.destroy() : false;
  },
  watch: {
    fieldValue: function () {
      // this.updateValue();
    },
  },
  validations() {
    return { subForm: validationRules(this.followUpFields) };
  },
  computed: {
    errorMessages: function () {
      const validations = this.$v.subForm;

      return Object.keys(this.followUpFields).reduce((messages, key) => {
        const rules = this.followUpFields[key].validations;
        const rulesKeys = Object.keys(this.followUpFields[key].validations);
        const validator = validations[key];

        if (!validator) return messages;

        for (let rule of rulesKeys) {
          if (validator[rule] !== false) continue;

          messages[key] = rules[rule].message;
          return messages;
        }

        return messages;
      }, {});
    },
  },
  methods: {
    setDefaultValue() {
      if (Object.keys(this.value).length !== 0) {
        for (let key in this.value) {
          this.fieldValue = key;
          this.subForm = this.value[key];
        }
      }
      // this.options.forEach((item) => {
      //   if (item.value !== null) this.fieldValue[item.value] = {};
      // });
    },
    update(key, value) {
      this.$set(this.subForm, key, value);

      this.$v.subForm[key].$touch();

      if (this.$v.$invalid) return;

      this.updateValue(this.condition, this.subForm);
    },

    updateValue(condition, value) {
      var answer = {};

      if (this.fieldValue === null) return;

      if (this.fieldValue !== condition) {
        answer[this.fieldValue] = null;
      } else {
        if (this.$v.$invalid) return;

        if (value) {
          answer[this.fieldValue] = value;

          this.$emit("update", answer);
        }
      }

      // answer[this.fieldValue] = condition
      //   ? value
      //   : this.fieldValue === condition
      //   ? value
      //   : null;
      // var answer = {};

      setTimeout(() => {
        !this.isMultiple ? this.selectInstances.dropdown.close() : false;
      }, 90);
    },
    $_initFormFields() {
      const elems = this.$el.querySelector("select");
      const options = {
        dropdownOptions: {
          closeOnClick: false,
        },
      };
      this.selectInstances = M.FormSelect.init(elems, options);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>