<template>
  <div class="row" v-if="shouldRender">
    <h6 class="col s12 left-align">{{ 'How can we help you' }}</h6>
    <div class="col s12" v-for="(opt, key) in options" :key="key">
      <label class="left">
        <input type="checkbox" @change="isValidForUpdate(key)" v-model="fieldValue[key].checked" />
        <span>{{ opt.checkboxLabel}}</span>
      </label>

      <div class="input-field" style="margin-top: 3rem;" v-if="fieldValue[key].checked">
        <input
          type="text"
          placeholder
          :value="fieldValue[key].value"
          @input="event => updateValue(key, event.target.value)"
          :id="name.toLowerCase()"
        />
        <label
          :for="name.toLowerCase()"
          v-if="showInputLabel"
          :class="{'active': fieldValue[key].value }"
        >{{opt.inputLabel}}</label>
      </div>

      <span class="helper-text" :data-error="error" data-success="Correct">{{ helperText }}</span>
    </div>
  </div>
</template>

<script>
import M from "materialize-css";
export default {
  name: "ConditionalCheckboxGroupField",
  props: {
    value: {
      type: [Object],
    },
    name: {
      type: String,
      required: true,
    },
    groupTitle: {
      type: String,
      required: true,
    },
    fieldType: {
      type: String,
      required: false,
    },
    showInputLabel: {
      type: Boolean,
      default: true,
      required: false,
    },
    options: {
      type: Object,
      required: true,
    },
    placeholder: {
      type: String,
      required: false,
      default: "",
    },
    helperText: {
      type: String,
      required: false,
      default: "",
    },
    icon: {
      type: String,
      required: false,
    },
    wrapperStyle: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    fieldStyle: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    error: {
      type: String,
      required: false,
    },
    hasError: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      selectInstances: null,
      isTyping: false,
      fieldValue: {},
      initialLoad: true,
    };
  },

  created() {},
  mounted() {
    this.setDefaultValue();

    setTimeout(() => {
      // this.$_initFormFields();
    });
  },
  beforeDestroy() {
    this.selectInstances ? this.selectInstances.destroy() : false;
  },
  watch: {},
  computed: {
    shouldRender: function () {
      return Object.keys(this.fieldValue).length > 0;
    },
  },
  methods: {
    setDefaultValue() {
      // console.log(this.value);

      if (this.options) {
        for (let key in this.options) {
          const ans = {
            checked: false,
            value: null,
          };
          this.$set(this.fieldValue, key, ans);
        }
      }
      if (this.value) {
        for (let key in this.value) {
          const ans = {
            checked: this.value[key].checked,
            value: this.value[key].value,
          };
          this.$set(this.fieldValue, key, ans);
        }
      }
    },
    test() {
      // console.log(this.fieldValue);
    },
    updateValue(key, value) {
      const updateObject = {
        checked: this.fieldValue[key].checked,
        value: value,
      };
      this.$set(this.fieldValue, key, updateObject);

      this.$emit("update", this.fieldValue);
    },
    isValidForUpdate(key) {
      const validFieldLength = Object.keys(this.fieldValue).filter((key) => {
        if (this.fieldValue[key].checked) {
          return this.fieldValue[key];
        }
      }).length;

      // console.log(validFieldLength);
      if (validFieldLength <= 0) {
        this.$emit("update", null);
      } else {
        if (this.fieldValue[key].value != null)
          this.updateValue(key, this.fieldValue[key].value);
      }

      // console.log(test);
    },
    $_initFormFields() {
      const elems = this.$el.querySelector("select");
      const options = {
        dropdownOptions: {
          closeOnClick: false,
        },
      };
      this.selectInstances = M.FormSelect.init(elems, options);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>