<template>
  <div class="row">
    <div
      class="input-field"
      :class="[wrapperStyle.selectClass]"
      :style="[wrapperStyle.selectStyle]"
    >
      <i class="material-icons prefix" v-if="icon">{{ icon }}</i>

      <select
        :class="[fieldStyle.selectClass]"
        :style="[fieldStyle.selectStyle]"
        :id="name.toLowerCase()"
        @change="updateValue(null,null)"
        v-model="fieldValue"
      >
        <option
          :value="option.value"
          v-for="(option,index) in options"
          :key="index"
          :disabled="option.value === null"
        >{{ option.text}}</option>
      </select>

      <label :for="name.toLowerCase()" v-if="showSelectLabel">{{labels.select}}</label>
      <span class="helper-text" :data-error="error" data-success="Correct">{{ helperText }}</span>
    </div>
    <div v-for="(condition , index) in conditions" :key="condition + index">
      <div
        class="input-field"
        :class="[wrapperStyle.inputClass]"
        :style="[wrapperStyle.inputStyle]"
        v-if="fieldValue === condition.condition"
      >
        <input
          type="text"
          placeholder
          :value="value[condition.condition]"
          :id="name.toLowerCase() + condition.condition"
          @input="event => updateValue(condition, event.target.value)"
          :class="[fieldStyle.inputClass]"
          :style="[fieldStyle.inputStyle]"
        />
        <label
          :for="name.toLowerCase() + condition"
          v-if="showInputLabel"
          :class="{'active': value[condition.condition]}"
        >{{condition.label}}</label>
        <span class="helper-text" :data-error="error" data-success="Correct">{{ helperText }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import M from "materialize-css";
export default {
  name: "ConditionalSelectField",
  props: {
    value: {
      type: [Object],
    },
    name: {
      type: String,
      required: true,
    },
    labels: {
      type: Object,
      required: true,
    },
    fieldType: {
      type: String,
      required: false,
    },
    showSelectLabel: {
      type: Boolean,
      default: true,
      required: false,
    },
    showInputLabel: {
      type: Boolean,
      default: true,
      required: false,
    },
    conditions: {
      type: Array,
      required: true,
    },
    options: {
      type: Array,
      required: true,
    },
    placeholder: {
      type: String,
      required: false,
      default: "",
    },
    helperText: {
      type: String,
      required: false,
      default: "",
    },
    icon: {
      type: String,
      required: false,
    },
    wrapperStyle: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    fieldStyle: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    error: {
      type: String,
      required: false,
    },
    hasError: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      selectInstances: null,
      isTyping: false,
      fieldValue: "",
      initialLoad: true,
      // conditionAns: {},
    };
  },

  created() {},
  mounted() {
    this.setDefaultValue();

    setTimeout(() => {
      this.$_initFormFields();
    });
  },
  beforeDestroy() {
    this.selectInstances ? this.selectInstances.destroy() : false;
  },
  watch: {
    fieldValue: function () {
      // this.updateValue();
    },
  },
  computed: {},
  methods: {
    setDefaultValue() {
      if (this.value) {
        // console.log(this.value["yes"]);
        for (let selectedValue in this.value) {
          this.fieldValue = selectedValue;
        }
      }
    },
    updateValue(condition, value) {
      var answer = {};

      // answer[this.fieldValue] = value
      //   ? value
      //   : this.fieldValue === condition
      //   ? value
      //   : this.fieldValue;

      answer[this.fieldValue] = condition
        ? value
        : this.fieldValue === condition
        ? value
        : null;
      // var answer = {};

      // answer[this.fieldValue] = value
      //   ? value
      //   : this.fieldValue === this.condition
      //   ? null
      //   : this.fieldValue;

      this.$emit("update", answer);

      setTimeout(() => {
        !this.isMultiple ? this.selectInstances.dropdown.close() : false;
      }, 90);
    },
    $_initFormFields() {
      const elems = this.$el.querySelector("select");
      const options = {
        dropdownOptions: {
          closeOnClick: false,
        },
      };
      this.selectInstances = M.FormSelect.init(elems, options);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>