<template>
  <div class="input-field" :class="[wrapperStyle.class]" :style="[wrapperStyle.style]">
    <i class="material-icons prefix" v-if="icon">{{ icon }}</i>
    <input
      type="text"
      class="datepicker"
      ref="datePicker"
      v-model="fieldValue"
      @change="updateValue($event)"
      :class="[fieldStyle.class, displayError]"
      :style="[fieldStyle.style]"
      @focus="selectInstances.open()"
    />
    <label v-if="showLabel" :class="{ 'active': fieldValue }">{{label}}</label>
    <span class="helper-text" :data-error="error" data-success="Correct">{{ helperText }}</span>
  </div>
</template>

<script>
import M from "materialize-css";
export default {
  name: "DateField",
  props: {
    value: {
      type: [String],
    },
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    fieldType: {
      type: String,
      required: false,
    },
    showLabel: {
      type: Boolean,
      default: true,
      required: false,
    },
    options: {
      type: Array,
      required: false,
    },
    placeholder: {
      type: String,
      required: false,
      default: "",
    },
    helperText: {
      type: String,
      required: false,
      default: "",
    },
    icon: {
      type: String,
      required: false,
    },
    wrapperStyle: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    fieldStyle: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    error: {
      type: String,
      required: false,
    },
    hasError: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      selectInstances: null,
      isTyping: false,
      fieldValue: "",
    };
  },
  mounted() {
    this.setDefaultValue();

    setTimeout(() => {
      this.$_initFormFields();
    });
  },
  beforeDestroy() {
    this.selectInstances ? this.selectInstances.destroy() : false;
  },
  watch: {},
  computed: {
    displayError() {
      if (this.isTyping) {
        if (this.hasError && this.error) {
          return "invalid";
        } else {
          return "valid";
        }
      }
    },
  },
  methods: {
    setDefaultValue() {
      this.fieldValue = this.value;
    },
    updateValue(event) {
      this.isTyping = true;
      this.fieldValue = event.target.value;
      // console.log(event.target.value);
      this.$emit("update", event.target.value);
    },
    $_initFormFields() {
      const elems = this.$el.querySelector(".datepicker");
      const options = {};
      this.selectInstances = M.Datepicker.init(elems, options);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>