<template>
  <div class="input-field" :class="[wrapperStyle.class]" :style="[wrapperStyle.style]">
    <i class="material-icons prefix" v-if="icon">{{ icon }}</i>
    <input
      v-if="fieldType === 'text'"
      :id="name.toLowerCase()"
      :placeholder="placeholder"
      type="text"
      v-model="fieldValue"
      :class="[fieldStyle.class, displayError]"
      :style="[fieldStyle.style]"
      :disabled="isDisabled"
    />
    <input
      v-else-if="fieldType === 'number'"
      :id="name.toLowerCase()"
      :placeholder="placeholder"
      type="text"
      v-model="fieldValue"
      :class="[fieldStyle.class, displayError]"
      :style="[fieldStyle.style]"
      :disabled="isDisabled"
    />
    <input
      v-else-if="fieldType === 'email'"
      :id="name.toLowerCase()"
      :placeholder="placeholder"
      type="email"
      v-model="fieldValue"
      :class="[fieldStyle.class, displayError]"
      :style="[fieldStyle.style]"
      :disabled="isDisabled"
    />
    <label v-if="showLabel" :for="name.toLowerCase()" :class="{'active': fieldValue}">{{ label }}</label>
    <span class="helper-text" :data-error="error" data-success="Correct">{{ helperText }}</span>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: [String, Number],
    },
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    fieldType: {
      type: String,
      required: true,
    },
    showLabel: {
      type: Boolean,
      default: true,
      required: false,
    },
    placeholder: {
      type: String,
      required: false,
      default: "",
    },
    helperText: {
      type: String,
      required: false,
      default: "",
    },
    wrapperStyle: {
      type: Object,
      required: false,
      default: () => ({}),
    },

    fieldStyle: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    icon: {
      type: String,
      required: false,
    },
    error: {
      type: String,
      required: false,
    },
    hasError: {
      type: Boolean,
      default: false,
    },

    isDisabled: {
      type: Boolean,
      default: false,
      reuqired: false,
    },
  },
  data() {
    return {
      isTyping: false,
      fieldValue: this.value,
    };
  },
  mounted() {
    // console.log(this.name);
  },
  watch: {
    fieldValue: function () {
      this.allowOnlyNumber();
      this.updateValue();
    },
  },
  computed: {
    displayError() {
      if (this.isTyping) {
        if (this.hasError && this.error) {
          return "invalid";
        } else {
          return "valid";
        }
      }
    },
  },
  methods: {
    allowOnlyNumber() {
      if (this.fieldType === "number") {
        this.fieldValue = this.fieldValue.replace(/[^0-9]/g, "");
      }
    },
    updateValue(event) {
      this.isTyping = true;
      // console.log(error, hasError);
      this.$emit("update", this.fieldValue);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>