<template>
  <div class="input-field" :class="[wrapperStyle.class]" :style="[wrapperStyle.style]">
    <i class="material-icons prefix" v-if="icon">{{ icon }}</i>

    <select
      ref="singleSelect"
      v-if="!isMultiple"
      :class="[fieldStyle.class]"
      :style="[fieldStyle.style]"
      :id="name.toLowerCase()"
      v-model="fieldValue"
    >
      <option
        :value="option.value"
        v-for="(option,index) in options"
        :key="index"
        :disabled="option.value === null"
      >{{ option.text}}</option>
    </select>
    <select
      v-else
      :class="[fieldStyle.class]"
      :style="[fieldStyle.style]"
      :id="name.toLowerCase()"
      v-model="fieldValue"
      multiple
    >
      <option
        :value="option.value"
        v-for="(option,index) in options"
        :key="index"
        :disabled="option.value === null"
      >{{ option.text}}</option>
    </select>
    <label :for="name.toLowerCase()" v-if="showLabel">{{label}}</label>
    <span class="helper-text" :data-error="error" data-success="Correct">{{ helperText }}</span>
  </div>
</template>

<script>
import M from "materialize-css";
export default {
  name: "SelectField",
  props: {
    value: {
      type: [String, Array],
    },
    name: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    fieldType: {
      type: String,
      required: false,
    },
    isMultiple: {
      type: Boolean,
      required: true,
    },
    showLabel: {
      type: Boolean,
      default: true,
      required: false,
    },
    options: {
      type: Array,
      required: true,
    },
    placeholder: {
      type: String,
      required: false,
      default: "",
    },
    helperText: {
      type: String,
      required: false,
      default: "",
    },
    icon: {
      type: String,
      required: false,
    },
    wrapperStyle: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    fieldStyle: {
      type: Object,
      required: false,
      default: () => ({}),
    },
    error: {
      type: String,
      required: false,
    },
    hasError: {
      type: Boolean,
      default: false,
    },
    isDisabled: {
      type: Boolean,
      default: false,
      reuqired: false,
    },
  },
  data() {
    return {
      selectInstances: null,
      isTyping: false,
      fieldValue: this.isMultiple ? [] : "",
    };
  },
  mounted() {
    this.setDefaultValue();

    setTimeout(() => {
      this.$_initFormFields();
    });
  },
  beforeDestroy() {
    this.selectInstances ? this.selectInstances.destroy() : false;
  },
  watch: {
    fieldValue: function () {
      this.updateValue();
    },
    isDisabled: function () {
      setTimeout(() => {
        this.$el.querySelector(".dropdown-trigger").disabled = this.isDisabled;
      }, 100);

      // console.log(this.isDisabled);
      // this.$refs.singleSelect.disabled = this.isDisabled;
    },
  },
  computed: {
    // Implement a better error display
    // displayError() {
    //   if (this.isTyping) {
    //     // Add invalid class and remove valid
    //     if (this.hasError && this.error) {
    //       if (this.selectInstances) {
    //         this.$el.querySelector(".select-dropdown").classList.add("invalid");
    //         this.$el
    //           .querySelector(".select-dropdown")
    //           .classList.remove("valid");
    //       }
    //     } else {
    //       if (this.selectInstances) {
    //         this.$el.querySelector(".select-dropdown").classList.add("valid");
    //         this.$el
    //           .querySelector(".select-dropdown")
    //           .classList.remove("invalid");
    //       }
    //     }
    //   }
    // }
  },
  methods: {
    setDefaultValue() {
      if (this.isMultiple) {
        if (!this.value) {
          this.fieldValue = [];
        } else {
          this.fieldValue = this.value;
        }
      } else {
        if (!this.value) {
          this.fieldValue = "";
        } else {
          this.fieldValue = this.value;
        }
      }
    },
    updateValue() {
      this.$emit("update", this.fieldValue);
      setTimeout(() => {
        !this.isMultiple ? this.selectInstances.dropdown.close() : false;
      }, 90);
    },
    $_initFormFields() {
      const elems = this.$el.querySelector("select");
      const options = {
        dropdownOptions: {
          closeOnClick: false,
        },
      };
      this.selectInstances = M.FormSelect.init(elems, options);

      // DISABLE SELECT FIELD
      this.$el.querySelector(".dropdown-trigger").disabled = this.isDisabled;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>