<template>
  <div class="form-builder">
    <component
      v-for="(field, key) in schemaX"
      :key="key"
      :name="key"
      :is="field.component"
      v-bind="{...field}"
      :value="value[key] ? value[key] :  schemaX[key].value"
      :hasError="$v.form[key].$error"
      :error="errorMessages[key]"
      @update="update(key, $event)"
    />
  </div>
</template>

<script>
import Vue from "vue";
import Vuelidate from "vuelidate";
Vue.use(Vuelidate);
import { validationRules } from "./ValidationParser.js";
import "./FieldsImport.js";

export default {
  name: "FormBuilder",
  components: {},
  props: {
    schema: {
      type: Object,
      required: true,
    },
    value: {
      type: Object,
      required: true,
    },
    isStepper: {
      type: Boolean,
      default: false,
      required: false,
    },
    stepperData: {
      type: Object,
      default: () => ({}),
    },
    editMode: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      form: {},
      currentStep: this.stepperData.initialStep,
    };
  },
  created() {},
  mounted() {
    this.getFormFields();
  },

  validations() {
    return { form: validationRules(this.schema) };
  },
  watch: {},
  computed: {
    /**
     * Filter Schema based on current step
     */
    schemaX: function () {
      if (this.isStepper) {
        var results = {};
        Object.keys(this.schema).filter((key) => {
          if (this.schema[key].step === this.currentStep) {
            results[key] = this.schema[key];
          }
        });

        return results;
      }

      return this.schema;
    },

    /**
     * Gets the validation error message
     * @returns object with error message
     */
    errorMessages: function () {
      const validations = this.$v.form;

      return Object.keys(this.schema).reduce((messages, key) => {
        const rules = this.schema[key].validations;
        const rulesKeys = Object.keys(this.schema[key].validations);
        const validator = validations[key];

        if (!validator) return messages;

        for (let rule of rulesKeys) {
          if (validator[rule] !== false) continue;

          messages[key] = rules[rule].message;
          return messages;
        }

        return messages;
      }, {});
    },
  },
  methods: {
    /**
     * Loops through schema and each field to form  (this.form)
     */
    getFormFields() {
      if (this.editMode) {
        for (let key in this.value) {
          const value = this.value[key];

          this.$set(this.form, key, value);

          this.update(key, value);
        }
      } else {
        for (let name in this.schema) {
          // Adds flied to this.form object || Using Vue.set to ensure that they are reactive

          // Get default value from scheme
          const value = this.schema[name].value;

          this.$set(this.form, name, value);

          this.update(name, value);
        }
      }
    },

    /**
     * Updates the specified field value in form (this.form)
     */
    update(key, value) {
      // Updates field value
      this.$set(this.form, key, value);
      // this.form[key] = value;
      // Revalidates each field, ensuring that the rules are run on the specified field
      // and the specified state is updated within $v
      this.$v.form[key].$touch();

      this.$emit("input", this.form);

      this.announceStatus();

      this.announceStepStatus();
    },
    /**
     * Validates entire form
     */
    validate() {
      this.$v.$touch();
      this.announceStatus();
    },

    /**
     * Emits the overall status of form
     */
    announceStatus() {
      this.$emit("status", {
        invalid: this.$v.$invalid,
      });
    },

    /**
     * Emits the current status status
     */
    announceStepStatus() {
      if (!this.isStepper) return;
      this.$emit("stepStatus", {
        status: this.stepValidator(),
        canNext: this.canNext(),
        canPrev: this.canPrev(),
        currentStep: this.currentStep,
      });
    },
    /**
     * Goes to next step
     */
    nextStep() {
      if (!this.isStepper) return;

      if (
        !this.stepValidator() ||
        this.currentStep >= this.stepperData.finalStep
      )
        return;
      this.currentStep++;

      this.announceStepStatus();
    },

    /**
     * Goes to previous step
     */
    prevStep() {
      if (this.currentStep <= this.stepperData.initialStep) return;
      this.currentStep--;
      this.announceStepStatus();
    },
    /**
     * Determines whether user can go to next step
     */
    canNext() {
      if (!this.isStepper) return;

      return this.stepValidator() &&
        this.currentStep < this.stepperData.finalStep
        ? true
        : false;
    },

    /**
     * Determines whether user can go to previous step
     */
    canPrev() {
      if (!this.isStepper) return;
      return this.currentStep > this.stepperData.initialStep ? true : false;
    },
    stepValidator() {
      if (!this.isStepper) return;
      // Gets length of all valid field in current step
      const validFieldsCount = Object.keys(this.$v.form).filter((key) => {
        if (key in this.schemaX && this.$v.form[key].$invalid === false) {
          return this.schemaX[key];
        }
      }).length;

      // Is all the field in current step valid?
      return validFieldsCount === Object.keys(this.schemaX).length
        ? true
        : false;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>