<template>
  <div id="app">
    <div class="row container">
      <div>
        <ul class="flex-space">
          <li
            v-for="step in stepindicator"
            :key="step.step"
            :class="{activeblue: step.step === stepper.currentStep}"
            class="btn rounded grey"
          >{{step.text}}</li>
        </ul>
      </div>
      <div class="row">
        <form-builder
          :stepper-data="stepper"
          ref="loanForm"
          @status="updateFormStatus"
          @stepStatus="updateStepStatus"
          :schema="schema"
          v-model="form"
          isStepper
        ></form-builder>
      </div>
    </div>
    <a
      :class="{disabled: !stepper.canPrev}"
      class="btn left"
      @click.prevent="$refs.loanForm.prevStep()"
    >previous</a>
    <a
      class="btn right"
      :class="{disabled: !stepper.canNext}"
      @click="$refs.loanForm.nextStep()"
    >next</a>
    <div
      :class="{disabled: formStatus.invalid}"
      class="btn-large blue waves-effect"
      @click="showData()"
    >SUBMIT</div>
  </div>
</template>

<script>
import { schema } from "./schemas/FormSchema.js";
import FormBuilder from "./components/formBuilder/FormBuilder.vue";

export default {
  name: "App",
  components: {
    FormBuilder,
  },
  data() {
    return {
      schema,
      formStatus: { invalid: false },
      stepper: {
        initialStep: 1,
        finalStep: 3,
        currentStep: 1,
        stepStatus: false,
        canPrev: false,
        canNext: false,
      },
      form: {},
      stepindicator: [
        {
          step: 1,
          text: "1",
        },
        {
          step: 2,
          text: "2",
        },
        {
          step: 3,
          text: "3",
        },
      ],
    };
  },
  mounted() {},
  methods: {
    updateFormStatus(stat) {
      Object.assign(this.formStatus, stat);
    },
    showData() {
      this.$refs.loanForm.validate();
      if (this.formStatus.invalid) return;
      console.log(this.form);
    },
    updateStepStatus(status) {
      Object.assign(this.stepper, status);
    },
  },
};
</script>

<style lang="scss" >
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

  .rounded {
    width: 47px !important;
    height: 45px !important;
    border-radius: 50% !important;
    line-height: 44px !important;
  }
}

.flex-space {
  display: flex;
  justify-content: space-around;
}
.activeblue {
  background-color: teal !important;
}
</style>
